@font-face {
  font-family: "Myriad Pro";
  src: url(../media/fonts/MYRIADPRO-REGULAR.OTF);
  font-weight: 400;
}

@font-face {
  font-family: "Myriad Pro";
  src: url(../media/fonts/MYRIADPRO-SEMIBOLD.OTF);
  font-weight: 600;
}

$font-family: "Myriad Pro", sans-serif;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: $font-family;

}

body,
html {
  max-width: 100vw;
  overflow-x: hidden;
  background: #efe8e1;
  min-height: 100vh;

  &.contacts-body {
    display: flex;
    flex-direction: column;
  }
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: auto;
}

header {
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo {
    width: 325px;
    height: 60px;
    position: relative;

    img {
      height: 100%;

    }
  }

  .header-search-block {
    position: relative;

    .header-search-top {
      width: 440px;
      position: relative;
    }

    .header-search-label {
      position: relative;
      width: 100%;
      display: block;

      svg {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
      }

      input {
        border: 2px solid #d9896f;
        border-radius: 100px;
        padding: 20px 30px;
        width: 100%;
        padding: 20px;
        padding-left: 64px;
        background: none;
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: black;

        &::placeholder {
          font-family: $font-family;
          font-weight: 400;
          font-size: 20px;
          line-height: 100%;
          color: #d9896f;
        }
      }
    }
  }

  .header-info {
    display: flex;
    align-items: center;
    gap: 40px;

    .header-phone {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #000205;

      svg {
        width: 40px;
        height: 40px;
      }
    }

    .header-login {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #000205;

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.top-sale {
  margin-top: 40px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    img {
      flex: 1;
    }
  }
}

.section-heading {
  font-family: $font-family;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000205;
  margin-bottom: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;

  .wrapper_item {
    position: relative;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid transparent;
    background:
      linear-gradient(#fff8f0, #fff8f0) padding-box,
      linear-gradient(to bottom, #fff8f0, #D9896F) border-box;

    img {
      border-radius: 20px;
      width: 100%;
      height: 252px;
      object-fit: contain;
      margin-bottom: 20px;
    }

    &.small {
      background: #fff8f0;
      padding: 30px;

      .name {
        margin-bottom: 0;
      }

      img {
        height: 200px;
      }
    }
  }


  .wrapper_item_info {
    .name {

      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      color: #000205;
      margin-bottom: 20px;
    }

    .price {

      font-family: $font-family;
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      color: #000205;
    }
  }

  .wrapper_item_add-to-cart {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}


.user-select {
  margin-top: 40px;
}


.menu {
  margin-top: 90px;
}

footer {
  margin-top: 40px;
  padding-bottom: 55px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    position: relative;

    &::after {
      content: '';
      display: block;
      top: 0;
      left: -60px;
      width: calc(100% + 120px);
      height: 1px;
      background: #787573;
      position: absolute;
    }
  }

  .footer-r {
    .top {
      display: flex;
      align-items: center;
      gap: 10px;

      a {
        width: 24px;
        height: 24px;
        display: block;
      }
    }

    .policy {
      font-family: $font-family;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      color: #787573;
      margin-top: 20px;
      display: block;
    }
  }

  .footer-logo {
    width: 210px;
    position: relative;

    img {
      width: 100%;
    }
  }

  .footer-l {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .info {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: #000205;
      text-align: right;

    }
  }
}

.btm-menu {
  position: fixed;
  left: 50%;
  bottom: 150px;
  transform: translateX(-50%);
  border: 2px solid #efe8e1;
  border-radius: 100px;
  backdrop-filter: blur(15px);
  background: rgba(255, 248, 240, 0.7);
  padding: 15px 40px;
  display: flex;
  align-items: center;
  gap: 40px;

  .item {
    border-radius: 100px;
    padding: 8px;
    position: relative;

    width: 40px;
    height: 40px;

    &.active {
      background: #d9896f;
    }

    .cart-num {
      font-family: $font-family;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      color: #000;
      border-radius: 100px;
      padding: 10px;
      width: 20px;
      height: 20px;
      background: #d9896f;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;

    }
  }
}

.menu-top {
  position: relative;


  .container {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 167px;
      background: linear-gradient(87deg, rgba(239, 232, 225, 0) 0%, #efe8e1 100%);
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      z-index: 2;
    }

  }

  .menu-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow-x: scroll;
    width: 100%;
    padding-right: 150px;
  }

  .arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #fff8f0;
    border: 2px solid #d9896f;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    z-index: 3;
    cursor: pointer;
  }


  .item {
    border-radius: 50px;
    padding: 12px 20px;
    background: #fff8f0;
    font-family: $font-family;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #000205;
    white-space: nowrap;
    border: 1px solid #fff8f0;
    position: relative;
    z-index: 1;
    cursor: pointer;

    &.active {
      background: #fff8f0;
      border: 1px solid #d9896f;
      color: #d9896f;
    }
  }
}

.menu-block {

  .menu-section {
    margin-top: 40px;
  }
}

.contacts-main {
  flex: 1;
}

.contacts {
  margin-bottom: 150px;

  .container {
    position: relative;
  }

  iframe {
    width: 100%;
    height: 615px;
    border-radius: 30px;
  }

  .info {
    border-radius: 20px;
    width: 420px;
    background: #fff8f0;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .heading {
      font-family: $font-family;
      font-weight: 600;
      font-size: 30px;
      line-height: 100%;
      text-transform: uppercase;
      color: #2d2d2d;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }

    .info-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .info-item {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        font-family: $font-family;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #2d2d2d;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
