@font-face {
  font-family: "Myriad Pro";
  src: url(../media/fonts/MYRIADPRO-REGULAR.OTF);
  font-weight: 400;
}

@font-face {
  font-family: "Myriad Pro";
  src: url(../media/fonts/MYRIADPRO-SEMIBOLD.OTF);
  font-weight: 600;
}

$font-family: "Myriad Pro", sans-serif;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: $font-family;

}

body,
html {
  max-width: 100vw;
  overflow-x: hidden;
  background: #efe8e1;
  min-height: 100vh;

  &.contacts-body {
    display: flex;
    flex-direction: column;
  }
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: auto;
}

header {
  padding: 40px 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-logo {
    width: 325px;
    height: 60px;
    position: relative;

    img {
      height: 100%;

    }
  }

  .header-search-block {
    position: relative;

    .header-search-top {
      width: 440px;
      position: relative;
    }

    .header-search-label {
      position: relative;
      width: 100%;
      display: block;

      svg {
        position: absolute;
        top: 50%;
        left: 30px;
        transform: translateY(-50%);
      }

      input {
        border: 2px solid #d9896f;
        border-radius: 100px;
        padding: 20px 30px;
        width: 100%;
        padding: 20px;
        padding-left: 64px;
        background: none;
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: black;

        &::placeholder {
          font-family: $font-family;
          font-weight: 400;
          font-size: 20px;
          line-height: 100%;
          color: #d9896f;
        }
      }
    }
  }

  .header-info {
    display: flex;
    align-items: center;
    gap: 40px;

    .header-phone {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #000205;

      svg {
        width: 40px;
        height: 40px;
      }
    }

    .header-login {
      display: flex;
      align-items: center;
      gap: 5px;
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #000205;

      svg {
        width: 40px;
        height: 40px;
      }
    }
  }
}

.top-sale {
  margin-top: 40px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    img {
      flex: 1;
    }
  }
}

.section-heading {
  font-family: $font-family;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000205;
  margin-bottom: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;

  .wrapper_item {
    position: relative;
    border-radius: 20px;
    padding: 20px;
    border: 2px solid transparent;
    background:
      linear-gradient(#fff8f0, #fff8f0) padding-box,
      linear-gradient(to bottom, #fff8f0, #D9896F) border-box;

    img {
      border-radius: 20px;
      width: 100%;
      height: 252px;
      object-fit: contain;
      margin-bottom: 20px;
    }

    &.small {
      background: #fff8f0;
      padding: 30px;

      .name {
        margin-bottom: 0;
      }

      img {
        height: 200px;
      }
    }
  }


  .wrapper_item_info {
    .name {

      font-weight: 600;
      font-size: 20px;
      line-height: 100%;
      color: #000205;
      margin-bottom: 20px;
    }

    .price {

      font-family: $font-family;
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      color: #000205;
    }
  }

  .wrapper_item_add-to-cart {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}


.user-select {
  margin-top: 40px;
}


.menu {
  margin-top: 90px;
}

footer {
  margin-top: 40px;
  padding-bottom: 55px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    position: relative;

    &::after {
      content: '';
      display: block;
      top: 0;
      left: -60px;
      width: calc(100% + 120px);
      height: 1px;
      background: #787573;
      position: absolute;
    }
  }

  .footer-r {
    .top {
      display: flex;
      align-items: center;
      gap: 10px;

      a {
        width: 24px;
        height: 24px;
        display: block;
      }
    }

    .policy {
      font-family: $font-family;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      color: #787573;
      margin-top: 20px;
      display: block;
    }
  }

  .footer-logo {
    width: 210px;
    position: relative;

    img {
      width: 100%;
    }
  }

  .footer-l {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .info {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: #000205;
      text-align: right;

    }
  }
}

.btm-menu {
  position: fixed;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  border: 2px solid #efe8e1;
  border-radius: 100px;
  backdrop-filter: blur(15px);
  background: rgba(255, 248, 240, 0.7);
  padding: 15px 40px;
  display: flex;
  align-items: center;
  gap: 40px;

  .item {
    border-radius: 100px;
    padding: 8px;
    position: relative;

    width: 40px;
    height: 40px;

    &.active {
      background: #d9896f;
    }

    .cart-num {
      font-family: $font-family;
      font-weight: 400;
      font-size: 12px;
      line-height: 100%;
      color: #000;
      border-radius: 100px;
      padding: 10px;
      width: 20px;
      height: 20px;
      background: #d9896f;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      right: 0;

    }
  }
}

.menu-top {
  position: relative;


  .container {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 167px;
      background: linear-gradient(87deg, rgba(239, 232, 225, 0) 0%, #efe8e1 100%);
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      z-index: 2;
    }

  }

  .menu-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow-x: scroll;
    width: 100%;
  }

  .arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #fff8f0;
    border: 2px solid #d9896f;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    z-index: 3;
    cursor: pointer;
  }


  .item {
    border-radius: 50px;
    padding: 12px 20px;
    background: #fff8f0;
    font-family: $font-family;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #000205;
    white-space: nowrap;
    border: 1px solid #fff8f0;
    position: relative;
    z-index: 1;
    cursor: pointer;
    width: fit-content;

    &:last-child {
      opacity: 0;
      width: 150px;
    }

    &.active {
      background: #fff8f0;
      border: 1px solid #d9896f;
      color: #d9896f;
    }
  }
}

.menu-block {

  .menu-section {
    margin-top: 40px;
  }
}

.contacts-main {
  flex: 1;
}

.contacts {
  margin-bottom: 150px;

  .container {
    position: relative;
  }

  iframe {
    width: 100%;
    height: 615px;
    border-radius: 30px;
  }

  .info {
    border-radius: 20px;
    width: 420px;
    background: #fff8f0;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .heading {
      font-family: $font-family;
      font-weight: 600;
      font-size: 30px;
      line-height: 100%;
      text-transform: uppercase;
      color: #2d2d2d;
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
    }

    .info-list {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .info-item {
      display: flex;
      align-items: center;
      gap: 10px;

      p {
        font-family: $font-family;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #2d2d2d;
      }

      svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}

.offset {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
  z-index: 9;

  &.active {
    opacity: .4;
    visibility: visible;
  }
}

.popup {
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  max-width: 605px;


  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.orange-arrow {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff8f0;
  border: 2px solid #d9896f;
  border-radius: 50%;
}


.cart-popup,
.card-popup {
  padding: 40px;
  background: #efe8e1;
  max-height: 100vh;
  overflow-y: scroll;

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    /* Современный стандарт */
  }


  .top {
    margin-bottom: 20px;

    .cart-close {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #fff8f0;
      border: 2px solid #d9896f;
      border-radius: 50%;
    }

  }

  .cart-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;



    .item {
      display: flex;
      gap: 40px;
      border-radius: 20px;
      padding: 20px;
      background: #fff8f0;
      position: relative;

      .item-img {
        width: 130px;
        height: 142px;
        object-fit: contain;
      }


      .item-heaing {
        font-family: $font-family;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #000205;
        margin-bottom: 10px;
      }

      .item-count {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .count-heading {
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #787573;
      }

      .count-block {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .count-input {
        font-family: $font-family;
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        color: #000205;
        background: none;
        max-width: 30px;
        text-align: center;
      }

      .price {
        font-family: $font-family;
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        color: #000205;
        margin-top: 44px;
      }

      .item-delete {
        position: absolute;
        bottom: 20px;
        right: 20px;
        height: 40px;
      }

    }
  }

  .catr-dop {
    margin-top: 40px;

    .heading {
      font-family: $font-family;
      font-weight: 600;
      font-size: 24px;
      line-height: 100%;
      color: #000205;
    }

    .description {
      font-family: $font-family;
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: #787573;
      margin-top: 20px;
    }

    .card-dop-wrapper {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 20px;

      .item {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 20px;
        align-items: center;

        .item-l {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }

      .dop-name {
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #000205;
      }

      .dop-price {
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #000205;
      }
    }
  }

  .person-count {
    margin-top: 40px;

    .heading {
      font-family: $font-family;
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      color: #000205;
      margin-bottom: 10px;
    }

    .person-count-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;

      input {
        font-family: $font-family;
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        color: #000205;
        text-align: center;
        background: none;
        max-width: 30px;
      }
    }
  }


  .input-item {
    margin-top: 40px;

    .heading {
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #000205;
      margin-bottom: 10px;
    }

    input {
      border: 2px solid #d9896f;
      border-radius: 100px;
      padding: 10px 30px;
      background: none;
      width: 100%;
      font-family: $font-family;
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      color: #000205;
    }
  }

  .predlo {
    margin-top: 45px;

    .predlo-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      margin-bottom: 20px;

      .heading {
        font-family: $font-family;
        font-weight: 600;
        font-size: 30px;
        line-height: 100%;
        text-transform: uppercase;
        color: #000205;
      }

      .arrows {
        display: flex;
        align-items: center;
        gap: 10px;

        .next,
        .prev {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background: #fff8f0;
          border: 2px solid #d9896f;
          border-radius: 50%;
        }

        .next {
          svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    .predlo-btm {
      display: none;

      .arrows {
        display: flex;
        align-items: center;
        gap: 10px;

        .next,
        .prev {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background: #fff8f0;
          border: 2px solid #d9896f;
          border-radius: 50%;
        }

        .next {
          svg {
            transform: rotate(180deg);
          }
        }
      }

    }

    .cart-pred-slide {
      border-radius: 20px;
      padding: 20px;
      background: #fff8f0;
      position: relative;

      img {
        border-radius: 20px;
        width: 130px;
        height: 152px;
        object-fit: contain;
        margin-bottom: 20px;
      }

      .name {
        font-family: $font-family;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #000205;
        margin-bottom: 20px;
      }

      .price {
        font-family: $font-family;
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        color: #000205;
      }

      .add-to-cart {
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
  }

  .itogo {
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px solid #787573;

    .itogo-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .heading {
        font-family: $font-family;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #000205;
      }

      .num {
        font-family: $font-family;
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        color: #000205;
      }
    }

    .submit {
      margin-top: 40px;
      width: 100%;
      border-radius: 50px;
      padding: 15px 10px;
      background: #d9896f;
      font-family: $font-family;
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
      color: #efe8e1;
    }
  }

}

.deliviry-popup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #efe8e1;
  padding: 40px;

  .top {
    margin-bottom: 20px;
  }

  .type-select {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    border: 2px solid #d9896f;
    border-radius: 50px;
    width: 100%;

    .item {
      border-radius: 50px;
      padding: 15px 20px;
      flex: 1;
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      text-align: center;
      color: #d9896f;

      &.active {

        background: #d9896f;
        color: #efe8e1;
      }
    }
  }

  .deliviry-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      border-radius: 100px;
      padding: 20px;
      background: #fff8f0;

      .item-l {
        display: flex;
        align-items: center;
        gap: 10px;

        .heading {
          font-family: $font-family;
          font-weight: 400;
          font-size: 20px;
          line-height: 100%;
          color: #000205;
        }
      }
    }

  }


  .deliviry-btm-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    .item {
      display: flex;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      gap: 20px;

      .heading {
        font-family: $font-family;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #000205;
      }

      .num {
        font-family: $font-family;
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        color: #000205;
      }
    }
  }

  .itogo {
    padding-top: 20px;
    margin-top: 40px;
    border-top: 1px solid #787573;

    .itogo-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;

      .heading {
        font-family: $font-family;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #000205;
      }

      .num {
        font-family: $font-family;
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        color: #000205;
      }
    }

    .submit {
      margin-top: 40px;
      width: 100%;
      border-radius: 50px;
      padding: 15px 10px;
      background: #d9896f;
      font-family: $font-family;
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
      color: #efe8e1;
    }
  }

}

.payment-popup {
  top: auto;
  bottom: 0;

  .payment-offset {
    position: fixed;
    top: 0;
    right: 0;
    background: black;
    opacity: .4;
    height: 100%;
    z-index: -1;
    width: 100%;
  }

  .payment-wrapper {
    background: #efe8e1;
    padding: 40px;
    position: relative;
    width: 100%;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      width: 70px;
      height: 3px;
      background: #787573;
      border-radius: 50px;
    }

    .top {
      display: flex;
      align-items: center;
      gap: 20px;
      margin-bottom: 20px;

      .heading {
        font-family: $font-family;
        font-weight: 400;
        font-size: 28px;
        line-height: 100%;
        color: #000205;
      }
    }
  }

  .payment-list {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .item {
      border-radius: 100px;
      padding: 20px;
      background: #fff8f0;
      display: flex;
      align-items: center;
      gap: 5px;

      input {
        position: absolute;
        left: -99999px;

        &:checked+.input-visual {
          border: 4px solid #D9896F;

          &::after {
            opacity: 1;
          }
        }
      }

      .input-visual {
        width: 30px;
        height: 30px;
        background: none;
        border-radius: 50px;
        border: 1px solid #D9896F;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .4s ease;

        &::after {
          content: '';
          display: block;
          width: 14px;
          height: 14px;
          background: #d9896f;
          border-radius: 50px;
          opacity: 0;
          transition: all .4s ease;
        }

      }

      .name {
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #000205;
      }
    }
  }

}

.time-popup {
  background: #efe8e1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .top {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 20px;

    .heading {
      font-family: $font-family;
      font-weight: 400;
      font-size: 28px;
      line-height: 100%;
      color: #000205;
    }
  }

  .time-top-list {
    display: flex;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 167px;
      height: 100%;
      background: linear-gradient(89deg, rgba(239, 232, 225, 0) 0%, #efe8e1 100%);
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
    }


    .time-top-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
      overflow-x: scroll;
      position: relative;
      z-index: 1;


      .item {
        width: fit-content;

        font-family: $font-family;
        font-weight: 600;
        font-size: 20px;
        line-height: 100%;
        color: #000205;
        padding: 20px;
        border-radius: 50px;
        padding: 12px 20px;
        background: #fff8f0;
        border: 1px solid #fff8f0;
        white-space: nowrap;

        &:last-child {
          width: 150px;
          opacity: 0;

        }

        &.active {

          color: #d9896f;
          border: 1px solid #d9896f;

        }
      }

    }

    .next {
      position: absolute;
      right: 0;
      z-index: 2;

      svg {
        transform: rotate(180deg);
      }
    }

  }

  .time-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    flex: 1;

    overflow-y: scroll;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      border-radius: 100px;
      padding: 20px;
      background: #fff8f0;

      .name {
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #000205;
      }

      input {
        position: absolute;
        left: -99999px;
        opacity: 0;
        visibility: hidden;


        &:checked+.input-visual {
          border: 4px solid #D9896F;

          &::after {
            opacity: 1;
          }
        }
      }

      .input-visual {
        width: 30px;
        height: 30px;
        background: none;
        border-radius: 50px;
        border: 1px solid #D9896F;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .4s ease;

        &::after {
          content: '';
          display: block;
          width: 14px;
          height: 14px;
          background: #d9896f;
          border-radius: 50px;
          opacity: 0;
          transition: all .4s ease;
        }

      }
    }
  }


  .send {
    font-family: $font-family;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #efe8e1;
    border-radius: 50px;
    padding: 15px 10px;
    width: 100%;
    background: #d9896f;

  }
}

.card-popup {
  height: 100vh;

  .card-item {
    img {
      width: 100%;
      margin-bottom: 20px;
    }

    .name {
      font-family: $font-family;
      font-weight: 600;
      font-size: 30px;
      line-height: 100%;
      text-transform: uppercase;
      color: #000205;
    }

    .info-top {
      display: flex;
      justify-content: space-between;
    }

    .weight {
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #787573;
    }

    .description {
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #787573;
      margin-top: 20px;
    }


  }

  .add-to-cart {
    display: flex;
    justify-content: space-between;
    gap: 10px;

    button {
      border-radius: 50px;
      padding: 15px 25px;
      background: #d9896f;
      font-family: $font-family;
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
      color: #efe8e1;
      display: flex;
      align-items: center;
      gap: 10px;

      span {

        font-size: 28px;
      }
    }

  }

}

.login-popup,
.sms-popup {
  background: #efe8e1;
  padding: 40px;
  height: 100vh;

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 250px;
  }

  .form {
    label {
      display: flex;
      flex-direction: column;

      .name {
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #000205;
        margin-bottom: 10px;
      }

      input {
        font-family: $font-family;
        font-weight: 400;
        font-size: 20px;
        line-height: 100%;
        color: #000205;
        border: 2px solid #d9896f;
        border-radius: 100px;
        padding: 10px 30px;
        background: none;
      }
    }

    button {
      margin-top: 40px;
      font-family: $font-family;
      font-weight: 400;
      font-size: 24px;
      line-height: 100%;
      color: #efe8e1;
      border-radius: 50px;
      padding: 15px 10px;
      background: #d9896f;
      width: 100%;

    }
  }
}

.sms-popup {
  .form {
    label {
      .name {
        text-align: center;
      }

      input {
        text-align: center;
        border: none;

        &::placeholder {
          font-size: 40px;
        }
      }
    }
  }
}

.lk-popup,
.self-popup {
  padding: 40px;
  height: 100vh;
  background: #efe8e1;
  display: flex;
  flex-direction: column;

  .top {
    display: flex;
    align-items: center;
    gap: 35px;

    p {
      font-family: $font-family;
      font-weight: 600;
      font-size: 30px;
      line-height: 100%;
      text-transform: uppercase;
      color: #000205;
    }

    .name {
      display: none;
    }
  }

  .info {
    margin-top: 40px;

    .name {
      font-family: $font-family;
      font-weight: 600;
      font-size: 30px;
      line-height: 100%;
      text-transform: uppercase;
      color: #000205;
      margin-bottom: 20px;
    }

    .bonuses {
      border-radius: 20px;
      width: 100%;
      background: #d9896f;
      padding: 20px;
      padding-top: 95px;
      font-family: $font-family;
      font-weight: 700;
      font-size: 30px;
      line-height: 100%;
      text-transform: uppercase;
      color: #787573;

      span {
        color: #efe8e1;

      }
    }
  }

  .lk-menu {
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    flex: 1;
    display: none;

    &.active {
      display: flex;
    }


    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
      border-radius: 100px;
      padding: 20px;
      background: #fff8f0;

      .item-l {
        display: flex;
        align-items: center;
        gap: 10px;

        .heading {
          font-family: $font-family;
          font-weight: 400;
          font-size: 20px;
          line-height: 100%;
          color: #000205;
        }
      }
    }


  }

  .lk-self {
    flex: 1;
    margin-top: 40px;
    display: none;
    flex-direction: column;
    gap: 20px;

    .name {
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #787573;
    }

    .value {
      font-family: $font-family;
      font-weight: 400;
      font-size: 20px;
      line-height: 100%;
      color: #000205;
      margin-top: 10px;
    }

    &.active {
      display: flex;
    }
  }

  .logout {
    font-family: $font-family;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #000205;
    width: 100%;
    text-align: center;
  }

}

.history-popup {
  padding: 40px;
  background: #efe8e1;
  height: 100vh;

  .top {
    display: flex;
    align-items: center;
    gap: 35px;

    p {
      font-family: $font-family;
      font-weight: 600;
      font-size: 30px;
      line-height: 100%;
      text-transform: uppercase;
      color: #000205;
    }
  }

  .history-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;

    .item {
      border-radius: 100px;
      padding: 10px 40px;
      background: #fff8f0;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .name {
        font-family: $font-family;
        font-weight: 600;
        font-size: 24px;
        line-height: 100%;
        color: #2d2d2d;
        margin-bottom: 10px;
      }

      .date {
        font-family: $font-family;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: #2d2d2d;
      }

    }

    .item-r {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .item-r-item {
        font-family: $font-family;
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        color: #2d2d2d;
      }
    }

  }
}

@media (max-width: 1240px) {
  .container {
    max-width: calc(100vw - 40px);
  }

  header {
    padding: 20px 0;

    .container {
      flex-wrap: wrap;
    }

    .header-logo {
      width: 108px;
      height: 28px;
      order: 1;
    }

    .header-search-block {
      order: 3;
      width: 100%;
      margin-top: 20px;

      .header-search-top {
        width: 100%;
      }

      .header-search-label {
        input {
          padding: 10px 30px 10px 50px;
        }

        svg {
          width: 18px;
          height: 18px;
          left: 30px;
        }
      }

    }

    .header-info {
      order: 2;
      gap: 5px;

      .header-phone {
        svg {
          height: 24px;
          width: 24px;
        }

        span {
          display: none;
        }
      }

      .header-login {
        svg {
          width: 24px;
          height: 24px;

        }

        font-size: 12px;
        line-height: 100%;
      }

    }
  }

  .wrapper {
    grid-template-columns: repeat(2, 1fr);

    .wrapper_item {
      &.small {

        img {
          height: 88px;
        }
      }

      img {
        width: 100%;
        height: 88px;
        object-fit: contain;
      }
    }

    .wrapper_item_add-to-cart {
      width: 28px;
      height: 28px;

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }


  .top-sale {
    .container {
      overflow-x: scroll;
      padding: 0 20px;
      max-width: 100vw;

      img {
        max-width: 90px;
      }

    }
  }

  .user-select {
    .wrapper {
      display: flex;
      overflow-x: scroll;

      .wrapper_item {
        width: 182px;
        flex-shrink: 0;
      }
    }
  }

  .btm-menu {
    padding: 10px 30px;
    gap: 20px;
  }

  .popup {
    width: 100vw;
    height: 100vh;
  }

  .cart-popup,
  .card-popup {
    padding: 20px;

    .top {
      margin-bottom: 10px;
    }

    .cart-wrapper {
      .item {
        padding: 15px;
        gap: 20px;

        .item-img {

          width: 92px;
          height: 109px;
        }

        .item-heaing {

          font-size: 16px;
          line-height: 100%;
        }

        .count-heading {

          font-size: 12px;
          line-height: 100%;
        }

        .decrement,
        .increment {
          width: 28px;
          height: 28px;
          position: relative;

          svg {
            width: 100%;
            height: 100%;
          }
        }

        .count-input {

          font-size: 22px;
          line-height: 100%;
        }

        .price {

          font-size: 22px;
          line-height: 100%;
          margin-top: 33px;
        }

        .item-delete {
          width: 28px;
          height: 28px;

          svg {
            width: 100%;
            height: 100%;
          }
        }


      }
    }

    .catr-dop {
      .heading {
        font-size: 18px;
        line-height: 100%;
      }

      .description {

        font-size: 12px;
        line-height: 100%;
        margin-top: 10px;
      }

      .card-dop-wrapper {

        .dop-name,
        .dop-price {

          font-size: 12px;
          line-height: 100%;
        }

        .item {
          .item-l {
            svg {
              width: 28px;
              height: 28px;
            }
          }
        }
      }
    }

    .person-count {
      margin-top: 20px;

      .heading {

        font-size: 22px;
        line-height: 100%;
      }

      .person-count-wrapper {
        gap: 5;

        svg {
          width: 28px;
          height: 28px;
        }

        input {

          max-width: 10px;
          font-size: 22px;
          line-height: 100%;
        }

      }
    }

    .input-item {
      margin-top: 20px;

      .heading {

        font-size: 12px;
        line-height: 100%;
      }

      input {
        padding: 5px 20px;
      }
    }

    .predlo {

      .predlo-top {
        .arrows {
          display: none;
        }

        .heading {

          font-size: 20px;
          line-height: 100%;
        }
      }

      .predlo-btm {
        display: flex;
        margin-top: 10px;

        .arrows {

          .next,
          .prev {
            width: 28px;
            height: 28px
          }
        }
      }

      .cart-pred-slide {
        .add-to-cart {
          width: 28px;
          height: 28px;
        }
      }

    }

    .itogo {
      padding-top: 20px;

      .itogo-top {
        .heading {
          font-size: 16px;
          line-height: 100%;
        }

        .num {
          font-size: 22px;
          line-height: 100%;
        }
      }

      .submit {

        font-size: 18px;
        line-height: 100%;
        margin-top: 20px;
        padding: 20px;
      }
    }



  }

  .deliviry-popup {
    padding: 20px;

    .orange-arrow {
      width: 28px;
      height: 28px;
    }

    .type-select {
      margin-bottom: 20px;

      .item {

        font-size: 12px;
        line-height: 100%;
        padding: 15px;
      }
    }

    .deliviry-menu {
      .item {
        svg {
          width: 18px;
          height: 18px;
        }

        .item-l {
          .heading {

            font-size: 12px;
          }
        }
      }

    }

    .deliviry-btm-menu {
      .item {
        .heading {

          font-size: 16px;
        }

        .num {

          font-size: 22px;
        }
      }
    }

    .itogo {
      margin-top: 10px;
      padding-top: 10px;

      .submit {
        margin-top: 20px;
        font-size: 18px;
        padding-top: 20px;
      }
    }

  }

  .payment-popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .payment-wrapper {
      padding-top: 20px;
      padding-top: 40px;

      .top {
        gap: 10px;
        margin-bottom: 20px;

        .heading {
          font-size: 22px;
        }
      }
    }

    .payment-list {
      gap: 5px;

      .item {
        padding: 5px 10px;

        .name {

          font-size: 12px;
        }
      }
    }

    .orange-arrow {
      width: 28px;
      height: 28px;
    }
  }

  .time-popup {
    .orange-arrow {
      width: 28px;
      height: 28px;
    }

    .top {
      .heading {

        font-size: 22px;
        line-height: 100%;
      }
    }

    .time-top-list {
      &::after {
        width: 70px;
      }

      .time-top-wrapper {
        .item {

          font-size: 16px;
          padding: 12px 15px;
        }
      }
    }

    .time-wrapper {
      .item {
        padding: 5px 10px;

        .name {
          font-size: 12px;

        }

      }
    }

    .send {
      margin-top: 20px;

      font-size: 22px;
      padding: 17px;
    }
  }

  .menu-top .container {
    &::after {
      width: 70px;
    }

    .menu-top-slider {
      .item {

        font-size: 16px;
        padding: 12px 15px;
      }
    }
  }

  .contacts {
    margin-bottom: 30px;

    .info {
      width: calc(100% - 20px);
      bottom: 10px;
      top: auto;
      left: 10px;
      transform: translate(0, 0);
      padding: 15px;

      .heading {
        font-size: 20px;
      }

      .info-item {
        p {
          font-size: 16px;
        }

      }
    }
  }

  footer {
    .container {
      display: flex;
      flex-direction: column;
    }

    .footer-l {
      order: 1;

      .info {
        text-align: center;

        font-size: 12px;
      }

    }

    .footer-logo {
      order: 2;
      width: 135px;
      margin-top: 20px;
    }

    .footer-r {
      order: 3;
      margin-top: 20px;

      .top {
        justify-content: center;
      }
    }
  }

  .card-popup {
    .card-item {
      .info-top {
        .name {

          font-size: 20px;
        }

        .weight {

          font-size: 12px;
        }
      }

      .description {
        font-size: 12px;
      }
    }

    .add-to-cart {
      button {

        font-size: 22px;

        span {

          font-size: 22px;
        }
      }
    }
  }

  .login-popup,
  .sms-popup {
    padding: 20px;

    .logo {
      margin-bottom: 150px;
    }
  }

  .lk-popup,
  .self-popup,
  .history-popup {
    padding: 20px;

    .top {
      gap: 10px;

      .name,
      .heading,
      p {
        display: block;

        font-size: 20px;
      }
    }

    .info {
      .name {
        display: none;
      }
    }

    .lk-menu {
      .item {
        svg {
          width: 18px;
          height: 18px;
        }

        .item-l {
          .heading {

            font-size: 12px;
          }
        }
      }

    }

  }
}
