@charset "UTF-8";
@font-face {
  font-family: "Myriad Pro";
  src: url(../media/fonts/MYRIADPRO-REGULAR.OTF);
  font-weight: 400;
}
@font-face {
  font-family: "Myriad Pro";
  src: url(../media/fonts/MYRIADPRO-SEMIBOLD.OTF);
  font-weight: 600;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "Myriad Pro", sans-serif;
}

body,
html {
  max-width: 100vw;
  overflow-x: hidden;
  background: #efe8e1;
  min-height: 100vh;
}
body.contacts-body,
html.contacts-body {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: auto;
}

header {
  padding: 40px 0;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header-logo {
  width: 325px;
  height: 60px;
  position: relative;
}
header .header-logo img {
  height: 100%;
}
header .header-search-block {
  position: relative;
}
header .header-search-block .header-search-top {
  width: 440px;
  position: relative;
}
header .header-search-block .header-search-label {
  position: relative;
  width: 100%;
  display: block;
}
header .header-search-block .header-search-label svg {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
}
header .header-search-block .header-search-label input {
  border: 2px solid #d9896f;
  border-radius: 100px;
  padding: 20px 30px;
  width: 100%;
  padding: 20px;
  padding-left: 64px;
  background: none;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: black;
}
header .header-search-block .header-search-label input::placeholder {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #d9896f;
}
header .header-info {
  display: flex;
  align-items: center;
  gap: 40px;
}
header .header-info .header-phone {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
}
header .header-info .header-phone svg {
  width: 40px;
  height: 40px;
}
header .header-info .header-login {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
}
header .header-info .header-login svg {
  width: 40px;
  height: 40px;
}

.top-sale {
  margin-top: 40px;
}
.top-sale .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.top-sale .container img {
  flex: 1;
}

.section-heading {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000205;
  margin-bottom: 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: space-between;
}
.wrapper .wrapper_item {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  border: 2px solid transparent;
  background: linear-gradient(#fff8f0, #fff8f0) padding-box, linear-gradient(to bottom, #fff8f0, #D9896F) border-box;
}
.wrapper .wrapper_item img {
  border-radius: 20px;
  width: 100%;
  height: 252px;
  object-fit: contain;
  margin-bottom: 20px;
}
.wrapper .wrapper_item.small {
  background: #fff8f0;
  padding: 30px;
}
.wrapper .wrapper_item.small .name {
  margin-bottom: 0;
}
.wrapper .wrapper_item.small img {
  height: 200px;
}
.wrapper .wrapper_item_info .name {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
  margin-bottom: 20px;
}
.wrapper .wrapper_item_info .price {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #000205;
}
.wrapper .wrapper_item_add-to-cart {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.user-select {
  margin-top: 40px;
}

.menu {
  margin-top: 90px;
}

footer {
  margin-top: 40px;
  padding-bottom: 55px;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px;
  position: relative;
}
footer .container::after {
  content: "";
  display: block;
  top: 0;
  left: -60px;
  width: calc(100% + 120px);
  height: 1px;
  background: #787573;
  position: absolute;
}
footer .footer-r .top {
  display: flex;
  align-items: center;
  gap: 10px;
}
footer .footer-r .top a {
  width: 24px;
  height: 24px;
  display: block;
}
footer .footer-r .policy {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #787573;
  margin-top: 20px;
  display: block;
}
footer .footer-logo {
  width: 210px;
  position: relative;
}
footer .footer-logo img {
  width: 100%;
}
footer .footer-l {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-l .info {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000205;
  text-align: right;
}

.btm-menu {
  position: fixed;
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);
  border: 2px solid #efe8e1;
  border-radius: 100px;
  backdrop-filter: blur(15px);
  background: rgba(255, 248, 240, 0.7);
  padding: 15px 40px;
  display: flex;
  align-items: center;
  gap: 40px;
}
.btm-menu .item {
  border-radius: 100px;
  padding: 8px;
  position: relative;
  width: 40px;
  height: 40px;
}
.btm-menu .item.active {
  background: #d9896f;
}
.btm-menu .item .cart-num {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #000;
  border-radius: 100px;
  padding: 10px;
  width: 20px;
  height: 20px;
  background: #d9896f;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
}

.menu-top {
  position: relative;
}
.menu-top .container {
  position: relative;
}
.menu-top .container::after {
  content: "";
  display: block;
  width: 167px;
  background: linear-gradient(87deg, rgba(239, 232, 225, 0) 0%, #efe8e1 100%);
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  z-index: 2;
}
.menu-top .menu-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  overflow-x: scroll;
  width: 100%;
}
.menu-top .arrow {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #fff8f0;
  border: 2px solid #d9896f;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  z-index: 3;
  cursor: pointer;
}
.menu-top .item {
  border-radius: 50px;
  padding: 12px 20px;
  background: #fff8f0;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
  white-space: nowrap;
  border: 1px solid #fff8f0;
  position: relative;
  z-index: 1;
  cursor: pointer;
  width: fit-content;
}
.menu-top .item:last-child {
  opacity: 0;
  width: 150px;
}
.menu-top .item.active {
  background: #fff8f0;
  border: 1px solid #d9896f;
  color: #d9896f;
}

.menu-block .menu-section {
  margin-top: 40px;
}

.contacts-main {
  flex: 1;
}

.contacts {
  margin-bottom: 150px;
}
.contacts .container {
  position: relative;
}
.contacts iframe {
  width: 100%;
  height: 615px;
  border-radius: 30px;
}
.contacts .info {
  border-radius: 20px;
  width: 420px;
  background: #fff8f0;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contacts .info .heading {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #2d2d2d;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
.contacts .info .info-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contacts .info .info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.contacts .info .info-item p {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #2d2d2d;
}
.contacts .info .info-item svg {
  width: 24px;
  height: 24px;
}

.offset {
  position: fixed;
  top: 0;
  left: 0;
  background: black;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  z-index: 9;
}
.offset.active {
  opacity: 0.4;
  visibility: visible;
}

.popup {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  max-width: 605px;
}
.popup.active {
  opacity: 1;
  visibility: visible;
}

.orange-arrow {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff8f0;
  border: 2px solid #d9896f;
  border-radius: 50%;
}

.cart-popup,
.card-popup {
  padding: 40px;
  background: #efe8e1;
  max-height: 100vh;
  overflow-y: scroll;
  /* Chrome, Safari, Edge, Opera */
}
.cart-popup input::-webkit-outer-spin-button,
.cart-popup input::-webkit-inner-spin-button,
.card-popup input::-webkit-outer-spin-button,
.card-popup input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.cart-popup,
.card-popup {
  /* Firefox */
}
.cart-popup input[type=number],
.card-popup input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
  /* Современный стандарт */
}
.cart-popup .top,
.card-popup .top {
  margin-bottom: 20px;
}
.cart-popup .top .cart-close,
.card-popup .top .cart-close {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff8f0;
  border: 2px solid #d9896f;
  border-radius: 50%;
}
.cart-popup .cart-wrapper,
.card-popup .cart-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cart-popup .cart-wrapper .item,
.card-popup .cart-wrapper .item {
  display: flex;
  gap: 40px;
  border-radius: 20px;
  padding: 20px;
  background: #fff8f0;
  position: relative;
}
.cart-popup .cart-wrapper .item .item-img,
.card-popup .cart-wrapper .item .item-img {
  width: 130px;
  height: 142px;
  object-fit: contain;
}
.cart-popup .cart-wrapper .item .item-heaing,
.card-popup .cart-wrapper .item .item-heaing {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
  margin-bottom: 10px;
}
.cart-popup .cart-wrapper .item .item-count,
.card-popup .cart-wrapper .item .item-count {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-popup .cart-wrapper .item .count-heading,
.card-popup .cart-wrapper .item .count-heading {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #787573;
}
.cart-popup .cart-wrapper .item .count-block,
.card-popup .cart-wrapper .item .count-block {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cart-popup .cart-wrapper .item .count-input,
.card-popup .cart-wrapper .item .count-input {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #000205;
  background: none;
  max-width: 30px;
  text-align: center;
}
.cart-popup .cart-wrapper .item .price,
.card-popup .cart-wrapper .item .price {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #000205;
  margin-top: 44px;
}
.cart-popup .cart-wrapper .item .item-delete,
.card-popup .cart-wrapper .item .item-delete {
  position: absolute;
  bottom: 20px;
  right: 20px;
  height: 40px;
}
.cart-popup .catr-dop,
.card-popup .catr-dop {
  margin-top: 40px;
}
.cart-popup .catr-dop .heading,
.card-popup .catr-dop .heading {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #000205;
}
.cart-popup .catr-dop .description,
.card-popup .catr-dop .description {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #787573;
  margin-top: 20px;
}
.cart-popup .catr-dop .card-dop-wrapper,
.card-popup .catr-dop .card-dop-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.cart-popup .catr-dop .card-dop-wrapper .item,
.card-popup .catr-dop .card-dop-wrapper .item {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.cart-popup .catr-dop .card-dop-wrapper .item .item-l,
.card-popup .catr-dop .card-dop-wrapper .item .item-l {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-popup .catr-dop .card-dop-wrapper .dop-name,
.card-popup .catr-dop .card-dop-wrapper .dop-name {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
}
.cart-popup .catr-dop .card-dop-wrapper .dop-price,
.card-popup .catr-dop .card-dop-wrapper .dop-price {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
}
.cart-popup .person-count,
.card-popup .person-count {
  margin-top: 40px;
}
.cart-popup .person-count .heading,
.card-popup .person-count .heading {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #000205;
  margin-bottom: 10px;
}
.cart-popup .person-count .person-count-wrapper,
.card-popup .person-count .person-count-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-popup .person-count .person-count-wrapper input,
.card-popup .person-count .person-count-wrapper input {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #000205;
  text-align: center;
  background: none;
  max-width: 30px;
}
.cart-popup .input-item,
.card-popup .input-item {
  margin-top: 40px;
}
.cart-popup .input-item .heading,
.card-popup .input-item .heading {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
  margin-bottom: 10px;
}
.cart-popup .input-item input,
.card-popup .input-item input {
  border: 2px solid #d9896f;
  border-radius: 100px;
  padding: 10px 30px;
  background: none;
  width: 100%;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #000205;
}
.cart-popup .predlo,
.card-popup .predlo {
  margin-top: 45px;
}
.cart-popup .predlo .predlo-top,
.card-popup .predlo .predlo-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 20px;
}
.cart-popup .predlo .predlo-top .heading,
.card-popup .predlo .predlo-top .heading {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000205;
}
.cart-popup .predlo .predlo-top .arrows,
.card-popup .predlo .predlo-top .arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-popup .predlo .predlo-top .arrows .next,
.cart-popup .predlo .predlo-top .arrows .prev,
.card-popup .predlo .predlo-top .arrows .next,
.card-popup .predlo .predlo-top .arrows .prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #fff8f0;
  border: 2px solid #d9896f;
  border-radius: 50%;
}
.cart-popup .predlo .predlo-top .arrows .next svg,
.card-popup .predlo .predlo-top .arrows .next svg {
  transform: rotate(180deg);
}
.cart-popup .predlo .predlo-btm,
.card-popup .predlo .predlo-btm {
  display: none;
}
.cart-popup .predlo .predlo-btm .arrows,
.card-popup .predlo .predlo-btm .arrows {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-popup .predlo .predlo-btm .arrows .next,
.cart-popup .predlo .predlo-btm .arrows .prev,
.card-popup .predlo .predlo-btm .arrows .next,
.card-popup .predlo .predlo-btm .arrows .prev {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: #fff8f0;
  border: 2px solid #d9896f;
  border-radius: 50%;
}
.cart-popup .predlo .predlo-btm .arrows .next svg,
.card-popup .predlo .predlo-btm .arrows .next svg {
  transform: rotate(180deg);
}
.cart-popup .predlo .cart-pred-slide,
.card-popup .predlo .cart-pred-slide {
  border-radius: 20px;
  padding: 20px;
  background: #fff8f0;
  position: relative;
}
.cart-popup .predlo .cart-pred-slide img,
.card-popup .predlo .cart-pred-slide img {
  border-radius: 20px;
  width: 130px;
  height: 152px;
  object-fit: contain;
  margin-bottom: 20px;
}
.cart-popup .predlo .cart-pred-slide .name,
.card-popup .predlo .cart-pred-slide .name {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
  margin-bottom: 20px;
}
.cart-popup .predlo .cart-pred-slide .price,
.card-popup .predlo .cart-pred-slide .price {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #000205;
}
.cart-popup .predlo .cart-pred-slide .add-to-cart,
.card-popup .predlo .cart-pred-slide .add-to-cart {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.cart-popup .itogo,
.card-popup .itogo {
  padding-top: 20px;
  margin-top: 40px;
  border-top: 1px solid #787573;
}
.cart-popup .itogo .itogo-top,
.card-popup .itogo .itogo-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.cart-popup .itogo .itogo-top .heading,
.card-popup .itogo .itogo-top .heading {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
}
.cart-popup .itogo .itogo-top .num,
.card-popup .itogo .itogo-top .num {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #000205;
}
.cart-popup .itogo .submit,
.card-popup .itogo .submit {
  margin-top: 40px;
  width: 100%;
  border-radius: 50px;
  padding: 15px 10px;
  background: #d9896f;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #efe8e1;
}

.deliviry-popup {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #efe8e1;
  padding: 40px;
}
.deliviry-popup .top {
  margin-bottom: 20px;
}
.deliviry-popup .type-select {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  border: 2px solid #d9896f;
  border-radius: 50px;
  width: 100%;
}
.deliviry-popup .type-select .item {
  border-radius: 50px;
  padding: 15px 20px;
  flex: 1;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #d9896f;
}
.deliviry-popup .type-select .item.active {
  background: #d9896f;
  color: #efe8e1;
}
.deliviry-popup .deliviry-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.deliviry-popup .deliviry-menu .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 100px;
  padding: 20px;
  background: #fff8f0;
}
.deliviry-popup .deliviry-menu .item .item-l {
  display: flex;
  align-items: center;
  gap: 10px;
}
.deliviry-popup .deliviry-menu .item .item-l .heading {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
}
.deliviry-popup .deliviry-btm-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.deliviry-popup .deliviry-btm-menu .item {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}
.deliviry-popup .deliviry-btm-menu .item .heading {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
}
.deliviry-popup .deliviry-btm-menu .item .num {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #000205;
}
.deliviry-popup .itogo {
  padding-top: 20px;
  margin-top: 40px;
  border-top: 1px solid #787573;
}
.deliviry-popup .itogo .itogo-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.deliviry-popup .itogo .itogo-top .heading {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
}
.deliviry-popup .itogo .itogo-top .num {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #000205;
}
.deliviry-popup .itogo .submit {
  margin-top: 40px;
  width: 100%;
  border-radius: 50px;
  padding: 15px 10px;
  background: #d9896f;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #efe8e1;
}

.payment-popup {
  top: auto;
  bottom: 0;
}
.payment-popup .payment-offset {
  position: fixed;
  top: 0;
  right: 0;
  background: black;
  opacity: 0.4;
  height: 100%;
  z-index: -1;
  width: 100%;
}
.payment-popup .payment-wrapper {
  background: #efe8e1;
  padding: 40px;
  position: relative;
  width: 100%;
}
.payment-popup .payment-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 3px;
  background: #787573;
  border-radius: 50px;
}
.payment-popup .payment-wrapper .top {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.payment-popup .payment-wrapper .top .heading {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #000205;
}
.payment-popup .payment-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.payment-popup .payment-list .item {
  border-radius: 100px;
  padding: 20px;
  background: #fff8f0;
  display: flex;
  align-items: center;
  gap: 5px;
}
.payment-popup .payment-list .item input {
  position: absolute;
  left: -99999px;
}
.payment-popup .payment-list .item input:checked + .input-visual {
  border: 4px solid #D9896F;
}
.payment-popup .payment-list .item input:checked + .input-visual::after {
  opacity: 1;
}
.payment-popup .payment-list .item .input-visual {
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 50px;
  border: 1px solid #D9896F;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.payment-popup .payment-list .item .input-visual::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: #d9896f;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.4s ease;
}
.payment-popup .payment-list .item .name {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
}

.time-popup {
  background: #efe8e1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.time-popup .top {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.time-popup .top .heading {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #000205;
}
.time-popup .time-top-list {
  display: flex;
  position: relative;
}
.time-popup .time-top-list::after {
  content: "";
  display: block;
  width: 167px;
  height: 100%;
  background: linear-gradient(89deg, rgba(239, 232, 225, 0) 0%, #efe8e1 100%);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.time-popup .time-top-list .time-top-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  position: relative;
  z-index: 1;
}
.time-popup .time-top-list .time-top-wrapper .item {
  width: fit-content;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
  padding: 20px;
  border-radius: 50px;
  padding: 12px 20px;
  background: #fff8f0;
  border: 1px solid #fff8f0;
  white-space: nowrap;
}
.time-popup .time-top-list .time-top-wrapper .item:last-child {
  width: 150px;
  opacity: 0;
}
.time-popup .time-top-list .time-top-wrapper .item.active {
  color: #d9896f;
  border: 1px solid #d9896f;
}
.time-popup .time-top-list .next {
  position: absolute;
  right: 0;
  z-index: 2;
}
.time-popup .time-top-list .next svg {
  transform: rotate(180deg);
}
.time-popup .time-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  flex: 1;
  overflow-y: scroll;
}
.time-popup .time-wrapper .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 100px;
  padding: 20px;
  background: #fff8f0;
}
.time-popup .time-wrapper .item .name {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
}
.time-popup .time-wrapper .item input {
  position: absolute;
  left: -99999px;
  opacity: 0;
  visibility: hidden;
}
.time-popup .time-wrapper .item input:checked + .input-visual {
  border: 4px solid #D9896F;
}
.time-popup .time-wrapper .item input:checked + .input-visual::after {
  opacity: 1;
}
.time-popup .time-wrapper .item .input-visual {
  width: 30px;
  height: 30px;
  background: none;
  border-radius: 50px;
  border: 1px solid #D9896F;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.time-popup .time-wrapper .item .input-visual::after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: #d9896f;
  border-radius: 50px;
  opacity: 0;
  transition: all 0.4s ease;
}
.time-popup .send {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #efe8e1;
  border-radius: 50px;
  padding: 15px 10px;
  width: 100%;
  background: #d9896f;
}

.card-popup {
  height: 100vh;
}
.card-popup .card-item img {
  width: 100%;
  margin-bottom: 20px;
}
.card-popup .card-item .name {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000205;
}
.card-popup .card-item .info-top {
  display: flex;
  justify-content: space-between;
}
.card-popup .card-item .weight {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #787573;
}
.card-popup .card-item .description {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #787573;
  margin-top: 20px;
}
.card-popup .add-to-cart {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.card-popup .add-to-cart button {
  border-radius: 50px;
  padding: 15px 25px;
  background: #d9896f;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #efe8e1;
  display: flex;
  align-items: center;
  gap: 10px;
}
.card-popup .add-to-cart button span {
  font-size: 28px;
}

.login-popup,
.sms-popup {
  background: #efe8e1;
  padding: 40px;
  height: 100vh;
}
.login-popup .logo,
.sms-popup .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 250px;
}
.login-popup .form label,
.sms-popup .form label {
  display: flex;
  flex-direction: column;
}
.login-popup .form label .name,
.sms-popup .form label .name {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
  margin-bottom: 10px;
}
.login-popup .form label input,
.sms-popup .form label input {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
  border: 2px solid #d9896f;
  border-radius: 100px;
  padding: 10px 30px;
  background: none;
}
.login-popup .form button,
.sms-popup .form button {
  margin-top: 40px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #efe8e1;
  border-radius: 50px;
  padding: 15px 10px;
  background: #d9896f;
  width: 100%;
}

.sms-popup .form label .name {
  text-align: center;
}
.sms-popup .form label input {
  text-align: center;
  border: none;
}
.sms-popup .form label input::placeholder {
  font-size: 40px;
}

.lk-popup,
.self-popup {
  padding: 40px;
  height: 100vh;
  background: #efe8e1;
  display: flex;
  flex-direction: column;
}
.lk-popup .top,
.self-popup .top {
  display: flex;
  align-items: center;
  gap: 35px;
}
.lk-popup .top p,
.self-popup .top p {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000205;
}
.lk-popup .top .name,
.self-popup .top .name {
  display: none;
}
.lk-popup .info,
.self-popup .info {
  margin-top: 40px;
}
.lk-popup .info .name,
.self-popup .info .name {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000205;
  margin-bottom: 20px;
}
.lk-popup .info .bonuses,
.self-popup .info .bonuses {
  border-radius: 20px;
  width: 100%;
  background: #d9896f;
  padding: 20px;
  padding-top: 95px;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #787573;
}
.lk-popup .info .bonuses span,
.self-popup .info .bonuses span {
  color: #efe8e1;
}
.lk-popup .lk-menu,
.self-popup .lk-menu {
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  flex: 1;
  display: none;
}
.lk-popup .lk-menu.active,
.self-popup .lk-menu.active {
  display: flex;
}
.lk-popup .lk-menu .item,
.self-popup .lk-menu .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  border-radius: 100px;
  padding: 20px;
  background: #fff8f0;
}
.lk-popup .lk-menu .item .item-l,
.self-popup .lk-menu .item .item-l {
  display: flex;
  align-items: center;
  gap: 10px;
}
.lk-popup .lk-menu .item .item-l .heading,
.self-popup .lk-menu .item .item-l .heading {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
}
.lk-popup .lk-self,
.self-popup .lk-self {
  flex: 1;
  margin-top: 40px;
  display: none;
  flex-direction: column;
  gap: 20px;
}
.lk-popup .lk-self .name,
.self-popup .lk-self .name {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #787573;
}
.lk-popup .lk-self .value,
.self-popup .lk-self .value {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
  margin-top: 10px;
}
.lk-popup .lk-self.active,
.self-popup .lk-self.active {
  display: flex;
}
.lk-popup .logout,
.self-popup .logout {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #000205;
  width: 100%;
  text-align: center;
}

.history-popup {
  padding: 40px;
  background: #efe8e1;
  height: 100vh;
}
.history-popup .top {
  display: flex;
  align-items: center;
  gap: 35px;
}
.history-popup .top p {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000205;
}
.history-popup .history-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}
.history-popup .history-wrapper .item {
  border-radius: 100px;
  padding: 10px 40px;
  background: #fff8f0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.history-popup .history-wrapper .item .name {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #2d2d2d;
  margin-bottom: 10px;
}
.history-popup .history-wrapper .item .date {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #2d2d2d;
}
.history-popup .history-wrapper .item-r {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.history-popup .history-wrapper .item-r .item-r-item {
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #2d2d2d;
}

@media (max-width: 1240px) {
  .container {
    max-width: calc(100vw - 40px);
  }
  header {
    padding: 20px 0;
  }
  header .container {
    flex-wrap: wrap;
  }
  header .header-logo {
    width: 108px;
    height: 28px;
    order: 1;
  }
  header .header-search-block {
    order: 3;
    width: 100%;
    margin-top: 20px;
  }
  header .header-search-block .header-search-top {
    width: 100%;
  }
  header .header-search-block .header-search-label input {
    padding: 10px 30px 10px 50px;
  }
  header .header-search-block .header-search-label svg {
    width: 18px;
    height: 18px;
    left: 30px;
  }
  header .header-info {
    order: 2;
    gap: 5px;
  }
  header .header-info .header-phone svg {
    height: 24px;
    width: 24px;
  }
  header .header-info .header-phone span {
    display: none;
  }
  header .header-info .header-login svg {
    width: 24px;
    height: 24px;
  }
  header .header-info .header-login {
    font-size: 12px;
    line-height: 100%;
  }
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .wrapper .wrapper_item.small img {
    height: 88px;
  }
  .wrapper .wrapper_item img {
    width: 100%;
    height: 88px;
    object-fit: contain;
  }
  .wrapper .wrapper_item_add-to-cart {
    width: 28px;
    height: 28px;
  }
  .wrapper .wrapper_item_add-to-cart svg {
    width: 100%;
    height: 100%;
  }
  .top-sale .container {
    overflow-x: scroll;
    padding: 0 20px;
    max-width: 100vw;
  }
  .top-sale .container img {
    max-width: 90px;
  }
  .user-select .wrapper {
    display: flex;
    overflow-x: scroll;
  }
  .user-select .wrapper .wrapper_item {
    width: 182px;
    flex-shrink: 0;
  }
  .btm-menu {
    padding: 10px 30px;
    gap: 20px;
  }
  .popup {
    width: 100vw;
    height: 100vh;
  }
  .cart-popup,
  .card-popup {
    padding: 20px;
  }
  .cart-popup .top,
  .card-popup .top {
    margin-bottom: 10px;
  }
  .cart-popup .cart-wrapper .item,
  .card-popup .cart-wrapper .item {
    padding: 15px;
    gap: 20px;
  }
  .cart-popup .cart-wrapper .item .item-img,
  .card-popup .cart-wrapper .item .item-img {
    width: 92px;
    height: 109px;
  }
  .cart-popup .cart-wrapper .item .item-heaing,
  .card-popup .cart-wrapper .item .item-heaing {
    font-size: 16px;
    line-height: 100%;
  }
  .cart-popup .cart-wrapper .item .count-heading,
  .card-popup .cart-wrapper .item .count-heading {
    font-size: 12px;
    line-height: 100%;
  }
  .cart-popup .cart-wrapper .item .decrement,
  .cart-popup .cart-wrapper .item .increment,
  .card-popup .cart-wrapper .item .decrement,
  .card-popup .cart-wrapper .item .increment {
    width: 28px;
    height: 28px;
    position: relative;
  }
  .cart-popup .cart-wrapper .item .decrement svg,
  .cart-popup .cart-wrapper .item .increment svg,
  .card-popup .cart-wrapper .item .decrement svg,
  .card-popup .cart-wrapper .item .increment svg {
    width: 100%;
    height: 100%;
  }
  .cart-popup .cart-wrapper .item .count-input,
  .card-popup .cart-wrapper .item .count-input {
    font-size: 22px;
    line-height: 100%;
  }
  .cart-popup .cart-wrapper .item .price,
  .card-popup .cart-wrapper .item .price {
    font-size: 22px;
    line-height: 100%;
    margin-top: 33px;
  }
  .cart-popup .cart-wrapper .item .item-delete,
  .card-popup .cart-wrapper .item .item-delete {
    width: 28px;
    height: 28px;
  }
  .cart-popup .cart-wrapper .item .item-delete svg,
  .card-popup .cart-wrapper .item .item-delete svg {
    width: 100%;
    height: 100%;
  }
  .cart-popup .catr-dop .heading,
  .card-popup .catr-dop .heading {
    font-size: 18px;
    line-height: 100%;
  }
  .cart-popup .catr-dop .description,
  .card-popup .catr-dop .description {
    font-size: 12px;
    line-height: 100%;
    margin-top: 10px;
  }
  .cart-popup .catr-dop .card-dop-wrapper .dop-name,
  .cart-popup .catr-dop .card-dop-wrapper .dop-price,
  .card-popup .catr-dop .card-dop-wrapper .dop-name,
  .card-popup .catr-dop .card-dop-wrapper .dop-price {
    font-size: 12px;
    line-height: 100%;
  }
  .cart-popup .catr-dop .card-dop-wrapper .item .item-l svg,
  .card-popup .catr-dop .card-dop-wrapper .item .item-l svg {
    width: 28px;
    height: 28px;
  }
  .cart-popup .person-count,
  .card-popup .person-count {
    margin-top: 20px;
  }
  .cart-popup .person-count .heading,
  .card-popup .person-count .heading {
    font-size: 22px;
    line-height: 100%;
  }
  .cart-popup .person-count .person-count-wrapper,
  .card-popup .person-count .person-count-wrapper {
    gap: 5;
  }
  .cart-popup .person-count .person-count-wrapper svg,
  .card-popup .person-count .person-count-wrapper svg {
    width: 28px;
    height: 28px;
  }
  .cart-popup .person-count .person-count-wrapper input,
  .card-popup .person-count .person-count-wrapper input {
    max-width: 10px;
    font-size: 22px;
    line-height: 100%;
  }
  .cart-popup .input-item,
  .card-popup .input-item {
    margin-top: 20px;
  }
  .cart-popup .input-item .heading,
  .card-popup .input-item .heading {
    font-size: 12px;
    line-height: 100%;
  }
  .cart-popup .input-item input,
  .card-popup .input-item input {
    padding: 5px 20px;
  }
  .cart-popup .predlo .predlo-top .arrows,
  .card-popup .predlo .predlo-top .arrows {
    display: none;
  }
  .cart-popup .predlo .predlo-top .heading,
  .card-popup .predlo .predlo-top .heading {
    font-size: 20px;
    line-height: 100%;
  }
  .cart-popup .predlo .predlo-btm,
  .card-popup .predlo .predlo-btm {
    display: flex;
    margin-top: 10px;
  }
  .cart-popup .predlo .predlo-btm .arrows .next,
  .cart-popup .predlo .predlo-btm .arrows .prev,
  .card-popup .predlo .predlo-btm .arrows .next,
  .card-popup .predlo .predlo-btm .arrows .prev {
    width: 28px;
    height: 28px;
  }
  .cart-popup .predlo .cart-pred-slide .add-to-cart,
  .card-popup .predlo .cart-pred-slide .add-to-cart {
    width: 28px;
    height: 28px;
  }
  .cart-popup .itogo,
  .card-popup .itogo {
    padding-top: 20px;
  }
  .cart-popup .itogo .itogo-top .heading,
  .card-popup .itogo .itogo-top .heading {
    font-size: 16px;
    line-height: 100%;
  }
  .cart-popup .itogo .itogo-top .num,
  .card-popup .itogo .itogo-top .num {
    font-size: 22px;
    line-height: 100%;
  }
  .cart-popup .itogo .submit,
  .card-popup .itogo .submit {
    font-size: 18px;
    line-height: 100%;
    margin-top: 20px;
    padding: 20px;
  }
  .deliviry-popup {
    padding: 20px;
  }
  .deliviry-popup .orange-arrow {
    width: 28px;
    height: 28px;
  }
  .deliviry-popup .type-select {
    margin-bottom: 20px;
  }
  .deliviry-popup .type-select .item {
    font-size: 12px;
    line-height: 100%;
    padding: 15px;
  }
  .deliviry-popup .deliviry-menu .item svg {
    width: 18px;
    height: 18px;
  }
  .deliviry-popup .deliviry-menu .item .item-l .heading {
    font-size: 12px;
  }
  .deliviry-popup .deliviry-btm-menu .item .heading {
    font-size: 16px;
  }
  .deliviry-popup .deliviry-btm-menu .item .num {
    font-size: 22px;
  }
  .deliviry-popup .itogo {
    margin-top: 10px;
    padding-top: 10px;
  }
  .deliviry-popup .itogo .submit {
    margin-top: 20px;
    font-size: 18px;
    padding-top: 20px;
  }
  .payment-popup {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .payment-popup .payment-wrapper {
    padding-top: 20px;
    padding-top: 40px;
  }
  .payment-popup .payment-wrapper .top {
    gap: 10px;
    margin-bottom: 20px;
  }
  .payment-popup .payment-wrapper .top .heading {
    font-size: 22px;
  }
  .payment-popup .payment-list {
    gap: 5px;
  }
  .payment-popup .payment-list .item {
    padding: 5px 10px;
  }
  .payment-popup .payment-list .item .name {
    font-size: 12px;
  }
  .payment-popup .orange-arrow {
    width: 28px;
    height: 28px;
  }
  .time-popup .orange-arrow {
    width: 28px;
    height: 28px;
  }
  .time-popup .top .heading {
    font-size: 22px;
    line-height: 100%;
  }
  .time-popup .time-top-list::after {
    width: 70px;
  }
  .time-popup .time-top-list .time-top-wrapper .item {
    font-size: 16px;
    padding: 12px 15px;
  }
  .time-popup .time-wrapper .item {
    padding: 5px 10px;
  }
  .time-popup .time-wrapper .item .name {
    font-size: 12px;
  }
  .time-popup .send {
    margin-top: 20px;
    font-size: 22px;
    padding: 17px;
  }
  .menu-top .container::after {
    width: 70px;
  }
  .menu-top .container .menu-top-slider .item {
    font-size: 16px;
    padding: 12px 15px;
  }
  .contacts {
    margin-bottom: 30px;
  }
  .contacts .info {
    width: calc(100% - 20px);
    bottom: 10px;
    top: auto;
    left: 10px;
    transform: translate(0, 0);
    padding: 15px;
  }
  .contacts .info .heading {
    font-size: 20px;
  }
  .contacts .info .info-item p {
    font-size: 16px;
  }
  footer .container {
    display: flex;
    flex-direction: column;
  }
  footer .footer-l {
    order: 1;
  }
  footer .footer-l .info {
    text-align: center;
    font-size: 12px;
  }
  footer .footer-logo {
    order: 2;
    width: 135px;
    margin-top: 20px;
  }
  footer .footer-r {
    order: 3;
    margin-top: 20px;
  }
  footer .footer-r .top {
    justify-content: center;
  }
  .card-popup .card-item .info-top .name {
    font-size: 20px;
  }
  .card-popup .card-item .info-top .weight {
    font-size: 12px;
  }
  .card-popup .card-item .description {
    font-size: 12px;
  }
  .card-popup .add-to-cart button {
    font-size: 22px;
  }
  .card-popup .add-to-cart button span {
    font-size: 22px;
  }
  .login-popup,
  .sms-popup {
    padding: 20px;
  }
  .login-popup .logo,
  .sms-popup .logo {
    margin-bottom: 150px;
  }
  .lk-popup,
  .self-popup,
  .history-popup {
    padding: 20px;
  }
  .lk-popup .top,
  .self-popup .top,
  .history-popup .top {
    gap: 10px;
  }
  .lk-popup .top .name,
  .lk-popup .top .heading,
  .lk-popup .top p,
  .self-popup .top .name,
  .self-popup .top .heading,
  .self-popup .top p,
  .history-popup .top .name,
  .history-popup .top .heading,
  .history-popup .top p {
    display: block;
    font-size: 20px;
  }
  .lk-popup .info .name,
  .self-popup .info .name,
  .history-popup .info .name {
    display: none;
  }
  .lk-popup .lk-menu .item svg,
  .self-popup .lk-menu .item svg,
  .history-popup .lk-menu .item svg {
    width: 18px;
    height: 18px;
  }
  .lk-popup .lk-menu .item .item-l .heading,
  .self-popup .lk-menu .item .item-l .heading,
  .history-popup .lk-menu .item .item-l .heading {
    font-size: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
